:root {
    --bs-font-sans-serif: "Open Sans", sans-serif;
    --bs-dark-rgb: 33, 33, 33;
    --bs-light-rgb: 250, 250, 250;
    --bs-light-color: rgba(250, 250, 250, 0.75);
    --bs-secondary-rgb: 117, 117, 117;
    --bs-border-color: #e0e0e0;
    --bs-body-color: #212121;
    --bs-primary-rgb: 255, 215, 0;
    --bs-primary: #FFD700;
}

.h1, .h2, .h3, .h4, .h5, .h6, 
h1, h2, h3, h4, h5, h6 {
    font-family: 'Golos Text', sans-serif;
    font-weight: 700;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #FFD700;
    --bs-dropdown-link-active-color: #212121;
}

.btn-primary {
    --bs-btn-color: #212121;
    --bs-btn-bg: #FFD700;
    --bs-btn-border-color: #FFD700;
    --bs-btn-hover-color: #212121;
    --bs-btn-hover-bg: #FFDF33;
    --bs-btn-hover-border-color: #FFDF33;
    --bs-btn-active-color: #212121;
    --bs-btn-active-bg: #E5C100;
    --bs-btn-active-border-color: #E5C100;
}

.btn-outline-primary {
    --bs-btn-color: #212121;
    --bs-btn-border-color: #212121;
    --bs-btn-hover-color: #212121;
    --bs-btn-hover-bg: #FFDF33;
    --bs-btn-hover-border-color: #FFDF33;
    --bs-btn-active-color: #212121;
    --bs-btn-active-bg: #E5C100;
    --bs-btn-active-border-color: #E5C100;
}

.btn-outline-light {
    --bs-btn-color: #fafafa;
    --bs-btn-border-color: #fafafa;
    --bs-btn-hover-color: #212121;
    --bs-btn-hover-bg: #FFDF33;
    --bs-btn-hover-border-color: #FFDF33;
    --bs-btn-active-color: #212121;
    --bs-btn-active-bg: #E5C100;
    --bs-btn-active-border-color: #E5C100;
}

.form-check-input:checked {
    background-color: #FFD700;
    border-color: #FFD700;
}

.form-switch .form-check-input {
    --bs-form-switch-bg: url(../img/circle_focus.svg);
}

.form-check-input:focus {
    border-color: #e0e0e0;
    box-shadow: none;
}

.form-switch .form-check-input:focus {
    --bs-form-switch-bg: url(../img/circle_focus.svg);
}

.form-switch .form-check-input:checked {
    --bs-form-switch-bg: url(../img/circle_active.svg);
    border-color: #FFD700;
}

.tree {
    font-size: 12px;
}

.tree, .tree ul {
    list-style: none;
    padding-left: 16px;
}

.tree summary {
    display: block;
}

.tree summary::before {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    content: '\f07b';
    position: absolute;
    left: -16px;
    color: #FFD700;
}

.tree details[open] > summary::before {
    content: '\f07c';
}

.tree li {
    position: relative;
    margin: 8px 0;
}

.tree li::before {
    content: '';
    position: absolute;
    left: -27px;
    top: -8px;
    border-left: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    width: 11px;
    height: 17px;
}

.tree li::after {
    content: '';
    position: absolute;
    left: -27px;
    bottom: 0;
    border-left: 1px solid #BDBDBD;
    width: 11px;
    height: 100%;
}


.tree li:last-child::after {
    display: none;
}

.tree > li:after, .tree > li::before {
    display: none;
}

.tree-code a {
    color: #212121;
    text-decoration: none;
}

.tree-code a span {
    font-weight: bold;
}

.tree-code a::before {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    content: '\f02a';
    position: absolute;
    left: -16px;
}

.tree summary {
    position: relative;
}

.tree details[open] > summary::after {
    content: '';
    position: absolute;
    left: -11px;
    bottom: 0;
    border-left: 1px solid #BDBDBD;
    width: 11px;
    height: calc(100% - 14px);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.search-list {
    max-height: 448px;
    overflow: auto;
}

.search-list li:last-child {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    border-bottom: none !important;
}

.form-check-input:checked[type=checkbox] {
    --bs-form-check-bg-image: url(../img/check.svg);
}

.btn-collapse .fa-chevron-down {
    transition: all .25s;
}

.btn-collapse[aria-expanded="true"] .fa-chevron-down {
    transform: rotate(-180deg);
}

